{% extends 'base.html' %}

{% block content %}
  <h1>Authors List</h1>
  
  {% if user.is_staff %}
    <h6>
      <a href="{% url 'author-create' %}">Register new author</a>
    </h6>
  {% endif %}

  {% if author_list %}
    <hr>
    <ul>
      {% for author in author_list %}

        <li>
          <a href="{{ author.get_absolute_url }}">{{ author }} ({{author.date_of_birth}}{% if author.date_of_death %}  - {{author.date_of_death}}{% endif %})</a> {% if user.is_staff %} {% if perms.can_mark_as_returned %}- <a href="{% url 'author-update' author.id %}">Edit</a> {% endif %} {% endif %}  {% if user.is_staff %} - <a href="{% url 'author-delete' author.id %}">Delete </a> {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p> There are no authors available. </p>
  {% endif %}
{% endblock %}