{% extends 'base.html' %}

{% block content %}
 <h1> Author: {{ author }}</h1>

 {% if author.date_of_birth %}
    <p>Date of Birth: {{author.date_of_birth}}</p>
  {% else %}
    <p>Date of Birth: None</p>  
  {% endif %}
  {% if author.date_of_death %} 
    <p>Date of Death: {{ author.date_of_death }}</p>
  {%else%}
    <p>Date of Death: None</p>
  {% endif %}

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    
    {% if user.is_staff %}
      <h6>
        <a href="{% url 'book-create' %}">Register new book</a>
      </h6>
    {% endif%}
    <hr>
    <dl>
      {% for book in author.book_set.all %}
        <dt><a href="{% url 'book-detail' book.pk %}">{{book}}</a> ({{book.book_instance_set.all.count}})</dt> 
        <dd>{{book.summary}}</dd>
      {% endfor %}
    </dl>
  </div>

{% endblock %}